/* AddProductForm.css */
body {
    margin: 0;
    padding: 0;
  }
  

  .mainContainerAddProduct {
    position: absolute;
    margin-top: -150px;
    margin-left: -75px;
    
  }

  .form-containerAddProduct {
    
    
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  .form-containerAddProduct label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    font-size: small;
  }
  
  .form-containerAddProduct input {
    width: 500px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
  }

  .form-containerAddProduct select {
    width: 500px;
    padding: 6px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-containerAddProduct button[type="submit"] {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #4caf50;
    
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

button.add-product-button{
  margin-left: 180px;
}
  
  .form-containerAddProduct button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  