
body{
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
}

.App {
  text-align: center;
  width: 100%;
}

.AppContainer{
  width: 100%; 
}

.Moto_LogoContainer {
  animation: fade-in 1s infinite alternate; 
}

.Moto_LogoContainer img {
  width: 80px;
  height: auto;
  justify-content: center;
  top: 0;  
}

.navbar-nav2{

  margin-right: 75%;
  margin-top: 44px;  
  display: flex;
  list-style: none;
  font-size: large;
  height: 50px;
  margin-bottom: 20px; 

}

li {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: flex;
  margin-top: 40px;
  border-radius: 16px;
  justify-content: center;
  margin-left: 15px;  
}


.nav-link {
  position: relative;
  margin-left: 30px;
  color: rgb(198, 198, 198); 
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  margin-bottom: -2px;  
}

.nav-link:hover::after {
  transform: scaleX(0.8);
}

@keyframes fade-in {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

img{
  width: 100px;
}

h3{
  font-size: medium;
  height: auto;
  position: fixed;
  bottom: 390px;
}

h2{
  font-size: medium;
  height: auto;
  position: fixed;
}

h1{
  font-size: large;
  margin-left: 120px;
 
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f2f2f2;
}

.userProductsContainer {
  
  background-color: #fff;
  border: 1px solid #ccc;
 
  margin-left: 100px;
}



.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  
}

.product-card {
  width: 180px;
  height: 240px;
  border: 2px solid #9f9d9d;
  margin: 20px;
 
  border-radius: 18px;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.product-name {
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.product-name {
  text-align: center;
}

img {
  border-radius: 16px;
  position: absolute;
  width: 75%;
  height: 75%;
  object-fit: cover;
  justify-content: center;
}

.goToLogin {
  background-color: #ccc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.LogoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LogoutConfirmationContainer {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.LogoutButtons {
  margin-top: 20px;
}

.LogoutButton {
  background-color: #ccc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

p{
  text-align: center;
}

.buttonObsDel {
  margin-right: 10px;
  border-radius: 16px;
  background-color: rgb(124, 0, 0);
  justify-content: center;

}

.buttonObsView {
  margin-left: 10px;
  border-radius: 16px;
  background-color: rgb(186, 193, 197);
  justify-content: center;
}

.confirmPassword{
  margin-right: 65px;
}

.password-strength-bar {
  width: 15%;
  height: 10px;
  background: #ccc;
  margin-bottom: 10px;
  margin-top: 20px;
}

.password-strength-indicator {
  height: 100%;
  transition: width 0.5s ease;
  width: 15%;
  
}

span {
  font-size: 12px;
}

/* 
.product-card {
  position: relative;
} */

.plus-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; /* Ensures the plus icon appears above the product image */
  cursor: pointer;
}

.plus-icon {
  color: #ffffff;
  background-color: #000000;
  padding: 8px;
  border-radius: 50%;
  
  
}
