

form {
  position: absolute;
    border: solid 1px;
    margin-top: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 35vw;
    padding: 20px;
    border-radius: 16px;
    height: auto;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  }
  


  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    width: 250px;
    background-color: #c0c6c1;
    border-inline-color: black;
  }

  input[type="text"]{
    margin-right: 80px;
  }

  input[type="password"]{
    margin-right: 75px;
  }
  
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: gray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    margin: 20px;
    background-color: #505050;
    color: rgb(26, 26, 26);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #4b4b4b;
  }
  
  button[type="submit"]:active {
    background-color: #434343;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

  select{
    border-radius: 16px;
    height: 35px;
    
  }

  .submitLoginRegister{
    border-radius: 16px;
    background-color: #570b0b;
  }

  .submitLoginRegister:hover{
    border-radius: 16px;
    background-color: #666666;
   
  }

  .error{
    width: 70px;
    height: auto;
  }