
.product-detail {
  margin-bottom: 10px;
  position: relative;
  margin-right: 200px;
  text-align: left;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.product-label {
  font-weight: bold;
}

.product-value {
  font-weight: lighter;
}


.productDetail-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 10vh;
  background-color: #d1d1d1;
  margin-left: 500px;
  margin-right: 25px;
  border: solid 1px black;
  border-radius: 16px;
  height: 80vh;
  width: 50vw;
  opacity: 0; /* Initially hidden */
  transform: translateY(-50px); /* Initially shifted up */
  animation: scrollOpen 1s forwards; /* Apply the animation */
  overflow: auto;
  padding: 40px;
}

@keyframes scrollOpen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.productDetail-content {
  position: relative;
  left: 0;
  font-size: 20px;
  border: solid 1px;
  padding: 10px;
  border-radius: 16px;
  
 
}

.productDetail-image-container {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-left: 150px;
  
}

.productDetail-image {
  width: 130%;
  height: auto;
  border: solid 1px black;
  object-fit: cover;
  border-radius: 8px;
}

