.addObs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 100px;
}

.addObs-subcontainer{
  display: flex;
  flex-direction: column;
}

.addObs-input-field {
  margin-bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.addObs-textarea-field {
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.addObs-button-container {
  display: flex;
  justify-content: center;
}

.addObs-submit-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #b2b2b3;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.addObs-product-image {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 540px;
  border: 2px solid #9f9d9d;
  margin: 20px;
  border-radius: 16px;

}
